<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{menu.title}} </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <form name="myForm" ng-submit="submit()">
            <md-input-container>
                <label>Menu-Title</label>
                <input ng-model="menu.title">
            </md-input-container>

            Pages to include:
            <div ng-repeat="page in pages">
                <label>
                    <input type="checkbox" checklist-model="pagesToInclude" checklist-value="page"> {{page.title}}
                </label>
            </div>
            <br/>

            Categories to include:
            <div ng-repeat="category in categories">
                <label>
                    <br/>
                    <input type="checkbox" checklist-model="categoriesToInclude" checklist-value="category">
                    {{category.title}}
                </label>
            </div>
            <br/>

            <table>
                <tr ng-repeat="page in pagesToInclude">
                    <td>{{page.title}}</td>
                    <td>

                    </td>

                    <td>

                    </td>
                </tr>
            </table>
            <br/>
            
            <md-button class="md-raised md-primary" type="submit" id="submit" value="Submit">Submit</md-button>
        </form>
    </md-card-content>
</md-card>


