<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{category.title}} </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <form name="myForm" ng-submit="submit()">
            Category-Title: <input ng-model="category.title"/>
            <br/>
            Slug: <input ng-disabled="{{disableSlugInput}}" ng-model="category._id"/>
            <br/>
            Description: <input ng-model="category.description">
            <br/>
            <br/>
            Posts in this category
            <ul>
                <li ng-repeat="page in pages">
                    {{page.title}}
                </li>
            </ul>
            <br/>
            <input type="submit" id="submit" value="Submit"/>
        </form>
    </md-card-content>
</md-card>


