<md-toolbar layout="row" layout-align="start end">
    <span> <h2 class="md-toolbar-tools"> Node Rest CMS </h2></span>
    <md-button md-ripple-size="full" ng-repeat="item in menu" ng-href="{{item.path}}"
               aria-label=""> {{item.title}}
    </md-button>
    <md-button md-ripple-size="full" ui-sref="admin">
        Admin
    </md-button>
    <md-button ng-show="currentUser" md-ripple-size="full" ng-click="logout()">
        logout [{{currentUser.name}}]
    </md-button>

    <md-button ng-hide="currentUser" md-ripple-size="full" ui-sref="main.login">
        login
    </md-button>
</md-toolbar>
