<md-toolbar layout="row" layout-align="space-between center">
    <!--left-->
    <span> <h2 class="md-toolbar-tools"> Node Rest CMS </h2></span>


    <!--right-->
    <span>
        <md-button md-ripple-size="full" ng-repeat="item in layout.header.menu.items" ng-href="{{item.path}}"
                   aria-label=""> {{item.title}}
        </md-button>

        <md-button md-ripple-size="full" ui-sref="admin">
            Admin
        </md-button>

        <!--<md-button ng-hide="currentUser" md-ripple-size="full" ng-click="logout()">-->
            <!--logout-->
        <!--</md-button>-->

        <md-button ng-hide="currentUser" md-ripple-size="full" ui-sref="main.login">
            login
        </md-button>
    </span>
</md-toolbar>
