<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{page.title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <form name="myForm" ng-submit="submit()">
            Page-Title: <input ng-model="page.title"/>
            <br/>
            Page-Content:
            <div text-angular ng-model="page.content"></div>
            <br/>
            Slug: <input ng-model="page.slug"/>
            <input type="submit" id="submit" value="Submit"/>
        </form>
    </md-card-content>
</md-card>