<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Images</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div ng-repeat="url in imageUrls">
            <img ng-src="{{url}}"/>
        </div>
    </md-card-content>
</md-card>

<md-card>
    <md-card-content>
        <div layout="row">
            <form name="form" ng-submit="submit()">
                <upload ng-model="files"></upload>
                <md-button type="submit" id="submit">Submit</md-button>
            </form>

            <ul>
                <li ng-repeat="file in files">
                    {{file.name}}
            </ul>
        </div>
    </md-card-content>
</md-card>